@model PetsMVC.Pets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDPet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Owner")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.People.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
